* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: roboto;
    color: #3F3F42;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {

    
    padding-bottom: 50px;
}

h1 {
    margin-top: 50px;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
}

.add-book-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;

    
    padding: 40px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container ul {
    list-style: none;
}

.form-container label {
    padding-right: 20px;
}

.form-container li {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    line-height: 25px;
}

.form-container input {
    padding: 5px;
    padding-left: 10px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    border:none;
    border:1px solid #d3d3d3;
    outline: none;
}
.form-container input:focus {
    border: 1px solid #ccc;
  }

.form-container li button {}

.has-been-read {
    width: 70%;
    align-items: center;
}

input[type="radio"]{
    appearance: none;
    border: 1px solid #d3d3d3;
    background-color: #fff;
    width: 30px;
    height: 30px;
    content: none;
    outline: none;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }
 
 input[type="radio"]:checked {
   appearance: none;
   outline: none;
   padding: 0;
   content: none;
   border: none;
 }
 
 input[type="radio"]:checked::before{
   position: absolute;
   color: #3882F6 !important;
   content: "\00A0\2713\00A0" !important;
   border: 1px solid #d3d3d3;
   border:none;
   font-weight: bolder;
   font-size: 21px;
 }

.form-container button {
    all: unset;
    cursor: pointer;
    background-color: #3882f6;
    background-color: #05386B;
    padding: 5px 35px 5px 35px;
    border-radius: 8px;
    font-weight: bold;
    letter-spacing: 1px;
    border-color: #f9faf8;
    border: 2px solid #f9faf8;
    color: #f9faf8;
    letter-spacing: 1px;
    font-size: 18px;
    text-align: center;
}

.library-cards-container {
    min-height: 150px;
    margin-top: 50px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ccc;
    width: 166px;
    padding: 20px;
    border: 1px;
    border: 5px solid #3882f6;
    border: 5px solid #05386b;
    border-radius: 15px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card button {
    all: unset;
    cursor: pointer;
    background-color: #3882f6;
    background-color: #379683;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #1F2937;
    color: #e5e7eb;
    color: #f9faf8;
    font-weight: 500;
    font-size: 0.8em;
    margin-top: 10px;
    letter-spacing: 1px;
}

.card ul {
    list-style-type: none;
}

.table-container {
    display:flex;
    justify-content: center;
}


table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;

}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 10px;
}

th {
  background-color: rgb(235,235,235);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}

caption {
  padding: 10px;
}

table button {
    padding:5px;
}

.readBtn {
    min-width:45px;
}

footer {
    margin-top: 100px;
    background-color: #1f2937;
    background-color: #379683;
    background-color: #8EE4AF;
    background-color: #05386B;
    color: #f9faf8;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
}

footer span {
    font-size: 18px;
}